
.myNavSettings {
    background-color: #bee5f4;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* center menu button on mobile*/
.myNavToggle {
    float: none;
    margin: auto;
}


.navbar-toggle:focus,.navbar-toggle:hover {
    background-color: #fff !important;
}

h1{
    font-family: 'Poiret One', cursive;
    font-size: 54px;
    margin-top: 80px;
    margin-bottom: 25px;
}


/* set width to same as images to remove vertical bars on each side of carousel*/
#myCarousel {
    max-width: 1024px;
    margin: 0 auto;
}

/* and also remove background image to remove gradient*/
.carousel-control.right, .carousel-control.left {
  background-image: none ;
}

/*remove negative padding that is causing horizontal scroll*/
.myRow {
    margin-right: 0;
    margin-left: 0;
}

/*set background color to table head*/
thead {
    background-color: #e6e6e6;
}


/*overwrite bootstrap default background color on table stripe and switch to even rows*/
.table-striped > tbody > tr:nth-of-type(even) {
  background-color: #f2f2f2;
}

.contructionImages {
    margin-bottom: 10px;
}
 
.photo-caption {
     font-size: 16px !important;
     padding-right: 40px;
     padding-left: 40px;
 }
 
.hine-photo-credit {
    font-size: 12px !important;
    font-weight: 400 !important;
    max-width: 512px;
} 

.tabMargins {
    margin-left: 20px;
    margin-right: 20px;
}

.tabIntro{
    margin-top: 15px;
    font-size: 18px;
    font-weight: 200;
}


/* start settings for game */
.gameBoxOne, .gameBoxTwo {
    margin: 2em;
    padding: 1em;
}

.gameBoxOne {
    border: 2px solid #67D38F;
    background-color: #BEF7D3;
}

.gameBoxTwo {
    border: 2px solid #7180CD;
    background-color: #C4CCF6;
}

.gameForm  {
    font-size: 16px;
}

.gameQuestion {
    margin-top: 8px;
}

/* create more spacing on radio button lines and to get both game boxes to have equal height on large screens*/
.radio label {
    margin-bottom: 2.5px;
}

/* settings for height and movie answer */
#movieAnswer, #heightAnswer {
  margin-top: 10px;
  margin-bottom: 10px; 
}
/* end settings for game */


/* settings for photo credits on all pages */
.photo-credit {
    font-size: 12px; 
    text-align: center;
    margin: 20px; 
}

/* Extra Small Devices*/
@media only screen and (max-width: 500px) {
    h1{
        font-size: 30px;
        margin-bottom: 15px;
    }
    h3 {font-size: 18px;
    }
    h2 {font-size: 27px;
    }
    .jumbotron {padding-top: 10px;
    }
    .jumbotron p {font-size: 19px;
    }
}

/* Small Devices*/
@media only screen and (min-width: 501px) and (max-width: 767px) {
    h1{
        font-size: 38px;
        margin-bottom: 20px;
    }
    h3 {font-size: 22px;
    }
    
    .jumbotron {padding-top: 15px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    h1{
        font-size: 48px;
        margin-bottom: 20px;
    }
}